Repository gn5r/vue-confirm: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged:v-confirm, lint-staged:docs, lint-staged:api-generator

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#
commit-msg:
  commands:
    commit-lint:
      run: yarn commitlint --edit "$1"

pre-commit:
  parallel: true
  commands:
    "lint-staged:v-confirm":
      root: packages/v-confirm
      glob: "**/*.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue}"
      run: yarn run lint && yarn run lint:fix && git add {staged_files}
    "lint-staged:docs":
      root: packages/docs
      glob: "**/*.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue}"
      run: yarn run lint && yarn run lint:fix && git add {staged_files}
    "lint-staged:api-generator":
      root: packages/api-generator
      glob: "**/*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}"
      run: yarn run lint && yarn run lint:fix && git add {staged_files}

docs: fix usage script (#182)
  packages/docs/guide/getting-started.md
  packages/docs/ja/guide/getting-started.md
Due: none

deploy: 76b6f0af5ca053b9a6501d43b8cf01535c608154
  404.html
  assets/app.71ff1676.js
  assets/app.9095dc4e.js
  assets/guide_getting-started.md.1a7ab39b.lean.js
  assets/guide_getting-started.md.a0baa9d9.js
  assets/guide_getting-started.md.a0baa9d9.lean.js
  assets/ja_guide_getting-started.md.0baecfa9.js
  assets/ja_guide_getting-started.md.0baecfa9.lean.js
  assets/ja_guide_getting-started.md.3955e30e.lean.js
  guide/component-api.html
  guide/create-global-functions.html
  guide/getting-started.html
  guide/playground.html
  guide/sass-variables.html
  hashmap.json
  index.html
  ja/guide/component-api.html
  ja/guide/create-global-functions.html
  ja/guide/getting-started.html
  ja/guide/playground.html
  ja/guide/sass-variables.html
  ja/index.html
Due: none

deploy: c42a76440a20af6c5d87a2130d31734e14652e3a
  404.html
  assets/guide_getting-started.md.4099d798.js
  assets/guide_getting-started.md.4099d798.lean.js
  assets/ja_guide_getting-started.md.37c49bd9.js
  assets/ja_guide_getting-started.md.37c49bd9.lean.js
  guide/component-api.html
  guide/create-global-functions.html
  guide/getting-started.html
  guide/playground.html
  guide/sass-variables.html
  hashmap.json
  index.html
  ja/guide/component-api.html
  ja/guide/create-global-functions.html
  ja/guide/getting-started.html
  ja/guide/playground.html
  ja/guide/sass-variables.html
  ja/index.html
Due: none

docs: add playground title text
  packages/docs/.vitepress/theme/components/Playground.vue
  packages/docs/.vitepress/theme/composables/playground.ts
  packages/docs/.vitepress/theme/plugins/i18n/locales/en.ts
  packages/docs/.vitepress/theme/plugins/i18n/locales/ja.ts
Due: lint-staged:docs

docs: add playground title text (#184)
  packages/docs/.vitepress/theme/components/Playground.vue
  packages/docs/.vitepress/theme/composables/playground.ts
  packages/docs/.vitepress/theme/plugins/i18n/locales/en.ts
  packages/docs/.vitepress/theme/plugins/i18n/locales/ja.ts
Due: lint-staged:docs

chore: release v4.0.0-next.0
  lerna.json
  packages/api-generator/package.json
  packages/docs/package.json
  packages/v-confirm/package.json
Due: none

deploy: 6c1ad6350e7a6db9d0fa00ec1ea51915dd5a23aa
  404.html
  assets/guide_getting-started.md.158f1862.js
  assets/guide_getting-started.md.158f1862.lean.js
  assets/ja_guide_getting-started.md.7b5f7b78.js
  assets/ja_guide_getting-started.md.7b5f7b78.lean.js
  guide/component-api.html
  guide/create-global-functions.html
  guide/getting-started.html
  guide/playground.html
  guide/sass-variables.html
  hashmap.json
  index.html
  ja/guide/component-api.html
  ja/guide/create-global-functions.html
  ja/guide/getting-started.html
  ja/guide/playground.html
  ja/guide/sass-variables.html
  ja/index.html
Due: none

deploy: 648ea883e1dfaf73692db6233e9bc485f8f4d21c
  404.html
  assets/guide_getting-started.md.b68544d8.js
  assets/guide_getting-started.md.b68544d8.lean.js
  assets/ja_guide_getting-started.md.6cba8d26.js
  assets/ja_guide_getting-started.md.6cba8d26.lean.js
  guide/component-api.html
  guide/create-global-functions.html
  guide/getting-started.html
  guide/playground.html
  guide/sass-variables.html
  hashmap.json
  index.html
  ja/guide/component-api.html
  ja/guide/create-global-functions.html
  ja/guide/getting-started.html
  ja/guide/playground.html
  ja/guide/sass-variables.html
  ja/index.html
Due: none

build: update vitepress to `1.0.0-rc.33`
  packages/docs/package.json
  yarn.lock
Due: none

build: update vitepress to `1.0.0-rc.33` (#185)
  packages/docs/package.json
  yarn.lock
Due: none

docs: migrate from `prismjs` to `shikij`
  packages/docs/.vitepress/theme/components/api/EventsTable.vue
  packages/docs/.vitepress/theme/components/api/PrismCell.vue
  packages/docs/.vitepress/theme/components/api/PropsTable.vue
  packages/docs/.vitepress/theme/components/api/SassTable.vue
  packages/docs/.vitepress/theme/components/api/SlotsTable.vue
  packages/docs/.vitepress/theme/composables/api.ts
  packages/docs/.vitepress/theme/composables/shikiji.ts
  packages/docs/.vitepress/theme/styles/style.scss
  packages/docs/guide/component-api.md
  packages/docs/guide/sass-variables.md
  packages/docs/ja/guide/component-api.md
  packages/docs/ja/guide/sass-variables.md
  packages/docs/package.json
  yarn.lock
Due: lint-staged:docs

docs: migrate from `prismjs` to `shikij` (#186)
  packages/docs/.vitepress/theme/components/api/EventsTable.vue
  packages/docs/.vitepress/theme/components/api/PrismCell.vue
  packages/docs/.vitepress/theme/components/api/PropsTable.vue
  packages/docs/.vitepress/theme/components/api/SassTable.vue
  packages/docs/.vitepress/theme/components/api/SlotsTable.vue
  packages/docs/.vitepress/theme/composables/api.ts
  packages/docs/.vitepress/theme/composables/shikiji.ts
  packages/docs/.vitepress/theme/styles/style.scss
  packages/docs/guide/component-api.md
  packages/docs/guide/sass-variables.md
  packages/docs/ja/guide/component-api.md
  packages/docs/ja/guide/sass-variables.md
  packages/docs/package.json
  yarn.lock
Due: lint-staged:docs

docs: show lastUpdated and fix prev / next link
  packages/docs/.vitepress/config.ts
  packages/docs/guide/component-api.md
  packages/docs/guide/create-global-functions.md
  packages/docs/guide/sass-variables.md
  packages/docs/ja/guide/component-api.md
  packages/docs/ja/guide/create-global-functions.md
  packages/docs/ja/guide/sass-variables.md
Due: lint-staged:docs

docs: show lastUpdated and fix prev / next link (#187)
  packages/docs/.vitepress/config.ts
  packages/docs/guide/component-api.md
  packages/docs/guide/create-global-functions.md
  packages/docs/guide/sass-variables.md
  packages/docs/ja/guide/component-api.md
  packages/docs/ja/guide/create-global-functions.md
  packages/docs/ja/guide/sass-variables.md
Due: lint-staged:docs

chore: update year
  LICENSE.txt
Due: none

Revert "chore: migrate from husky to lefthook (#183)"
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  lefthook.yml
  package.json
  yarn.lock
Due: none

Revert "chore: migrate from husky to lefthook (#183)" (#190)
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  lefthook.yml
  package.json
  yarn.lock
Due: none

refactor: refactoring CI/CD settings
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Due: none

ci: refactoring CI/CD settings
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Due: none

ci: refactoring CI/CD settings (#192)
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Due: none

test: add createVConfirm test code
  packages/v-confirm/src/__tests__/index.spec.ts
Due: lint-staged:v-confirm

test: add createVConfirm test code (#193)
  packages/v-confirm/src/__tests__/index.spec.ts
Due: lint-staged:v-confirm

refactor: do not support Vetur
  package.json
  packages/api-generator/.lintstagedrc
  packages/api-generator/package.json
  packages/api-generator/src/index.ts
  packages/api-generator/src/utils.ts
  packages/api-generator/tsconfig.json
  packages/v-confirm/package.json
  yarn.lock
Due: lint-staged:api-generator

refactor: do not support Vetur (#194)
  package.json
  packages/api-generator/.lintstagedrc
  packages/api-generator/package.json
  packages/api-generator/src/index.ts
  packages/api-generator/src/utils.ts
  packages/api-generator/tsconfig.json
  packages/v-confirm/package.json
  yarn.lock
Due: lint-staged:api-generator

test: remove unnecessary params
  packages/v-confirm/src/components/VConfirm/__tests__/VConfirm.spec.tsx
Due: lint-staged:v-confirm

chore: rename directive name to upper camel case
  packages/v-confirm/src/components/VConfirm/VConfirm.tsx
  packages/v-confirm/src/directives/index.ts
Due: lint-staged:v-confirm

test: add dicrective test code
  packages/v-confirm/src/components/VConfirm/__tests__/VConfirm.spec.tsx
  packages/v-confirm/src/directives/click-outside/__tests__/clickOutside.spec.ts
Due: lint-staged:v-confirm

add dicrective test code (#196)
  packages/v-confirm/src/components/VConfirm/VConfirm.tsx
  packages/v-confirm/src/components/VConfirm/__tests__/VConfirm.spec.tsx
  packages/v-confirm/src/directives/click-outside/__tests__/clickOutside.spec.ts
  packages/v-confirm/src/directives/index.ts
Due: lint-staged:v-confirm

chore: release v4.0.0
  README-ja.md
  README.md
  lerna.json
  packages/docs/package.json
  packages/v-confirm/package.json
Due: none

chore: add stable badge
  README.md
Due: none

chore: ステーブルバッジを追加
  README-ja.md
Due: none

chore: update dependencies
  package.json
  packages/docs/.vitepress/theme/composables/shikiji.ts
  packages/docs/package.json
  packages/v-confirm/package.json
  packages/v-confirm/src/components/Divider/__tests__/__snapshots__/Divider.spec.tsx.snap
  packages/v-confirm/src/components/MdiIcon/__tests__/__snapshots__/MdiIcon.spec.tsx.snap
  packages/v-confirm/src/components/VConfirm/__tests__/VConfirm.spec.tsx
  packages/v-confirm/src/components/VConfirm/__tests__/__snapshots__/VConfirm.spec.tsx.snap
  packages/v-confirm/src/components/VConfirm/__tests__/__snapshots__/VConfirmActions.spec.tsx.snap
  packages/v-confirm/src/components/VConfirm/__tests__/__snapshots__/VConfirmHeader.spec.tsx.snap
  packages/v-confirm/vite.config.mts
  packages/v-confirm/vite.dev.config.mts
  packages/v-confirm/vitest.config.mts
  yarn.lock
Due: lint-staged:v-confirm, lint-staged:docs
