Repository gn5r/vue-confirm: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged:v-confirm, lint-staged:docs, lint-staged:api-generator

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#
commit-msg:
  commands:
    commit-lint:
      run: yarn commitlint --edit "$1"

pre-commit:
  parallel: true
  commands:
    "lint-staged:v-confirm":
      root: packages/v-confirm
      glob: "**/*.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue}"
      run: yarn run lint && yarn run lint:fix && git add {staged_files}
    "lint-staged:docs":
      root: packages/docs
      glob: "**/*.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue}"
      run: yarn run lint && yarn run lint:fix && git add {staged_files}
    "lint-staged:api-generator":
      root: packages/api-generator
      glob: "**/*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}"
      run: yarn run lint && yarn run lint:fix && git add {staged_files}

chore: update vuetify to `3.5.17`
  package.json
  yarn.lock
Due: none

chore: update vuetify to `3.5.17` (#217)
  package.json
  yarn.lock
Due: none

chore: update babel to `7.24.1` and @vue/babel-plugin-jsx to `1.2.2`
  packages/v-confirm/package.json
  yarn.lock
Due: none

chore: update babel to `7.24.1` and @vue/babel-plugin-jsx to `1.2.2` (#218)
  packages/v-confirm/package.json
  yarn.lock
Due: none

chore: update vitest to `1.5.2`
  packages/v-confirm/package.json
  packages/v-confirm/src/components/Divider/__tests__/__snapshots__/Divider.spec.tsx.snap
  packages/v-confirm/src/components/MdiIcon/__tests__/__snapshots__/MdiIcon.spec.tsx.snap
  packages/v-confirm/src/components/VConfirm/__tests__/__snapshots__/VConfirm.spec.tsx.snap
  packages/v-confirm/src/components/VConfirm/__tests__/__snapshots__/VConfirmActions.spec.tsx.snap
  packages/v-confirm/src/components/VConfirm/__tests__/__snapshots__/VConfirmHeader.spec.tsx.snap
  yarn.lock
Due: none

chore: update vitest to `1.5.2` (#219)
  packages/v-confirm/package.json
  packages/v-confirm/src/components/Divider/__tests__/__snapshots__/Divider.spec.tsx.snap
  packages/v-confirm/src/components/MdiIcon/__tests__/__snapshots__/MdiIcon.spec.tsx.snap
  packages/v-confirm/src/components/VConfirm/__tests__/__snapshots__/VConfirm.spec.tsx.snap
  packages/v-confirm/src/components/VConfirm/__tests__/__snapshots__/VConfirmActions.spec.tsx.snap
  packages/v-confirm/src/components/VConfirm/__tests__/__snapshots__/VConfirmHeader.spec.tsx.snap
  yarn.lock
Due: none

chore: update jsdom to `24.0.0`
  packages/v-confirm/package.json
  yarn.lock
Due: none

chore: update jsdom to `24.0.0` (#220)
  packages/v-confirm/package.json
  yarn.lock
Due: none

chore: update eslint to `9.1.1`
  .eslintrc.cjs
  .vscode/extensions.json
  .vscode/settings.json
  eslint.config.mjs
  package.json
  packages/api-generator/package.json
  packages/docs/.eslintrc.cjs
  packages/docs/eslint.config.mjs
  packages/docs/package.json
  packages/v-confirm/package.json
  yarn.lock
Due: lint-staged:docs

chore: update eslint to `9.1.1` (#221)
  .eslintrc.cjs
  .vscode/extensions.json
  .vscode/settings.json
  eslint.config.mjs
  package.json
  packages/api-generator/package.json
  packages/docs/.eslintrc.cjs
  packages/docs/eslint.config.mjs
  packages/docs/package.json
  packages/v-confirm/package.json
  yarn.lock
Due: lint-staged:docs

fix: fix eslint config for vue
  eslint.config.mjs
  packages/docs/eslint.config.mjs
Due: lint-staged:docs

fix: fix eslint config for vue (#222)
  eslint.config.mjs
  packages/docs/eslint.config.mjs
Due: lint-staged:docs

chore: change builder to rollup
  packages/v-confirm/package.json
  packages/v-confirm/rollup.config.mjs
  yarn.lock
Due: lint-staged:v-confirm

docs: add stable badge into README.md
  README-ja.md
  README.md
Due: none

docs: update year
  README-ja.md
  README.md
Due: none

chore: change builder to rollup (#223)
  packages/v-confirm/package.json
  packages/v-confirm/rollup.config.mjs
  yarn.lock
Due: lint-staged:v-confirm

docs: add stable badge into README.md (#224)
  README-ja.md
  README.md
Due: none

fix: use Import Assertions in `rollup.config.mjs`
  packages/v-confirm/eslint.config.mjs
  packages/v-confirm/package.json
  packages/v-confirm/rollup.config.mjs
  yarn.lock
Due: lint-staged:v-confirm

chore: add `@babel/eslint-parser` and `@babel/plugin-syntax-import-assertions`
  packages/v-confirm/eslint.config.mjs
  packages/v-confirm/package.json
  yarn.lock
Due: lint-staged:v-confirm

fix: use Import Assertions in `rollup.config.mjs` (#225)
  packages/v-confirm/eslint.config.mjs
  packages/v-confirm/package.json
  packages/v-confirm/rollup.config.mjs
  yarn.lock
Due: lint-staged:v-confirm

chore: release v3.4.0
  lerna.json
  packages/api-generator/package.json
  packages/docs/package.json
  packages/v-confirm/package.json
Due: none

chore: add `@babel/eslint-parser` and `@babel/plugin-syntax-import-assertions` (#226)
  packages/v-confirm/eslint.config.mjs
  packages/v-confirm/package.json
  yarn.lock
Due: lint-staged:v-confirm

fix: change commitlint to esm
  commitlint.config.js
  commitlint.config.mjs
Due: none

fix: change commitlint setting to esm (#230)
  commitlint.config.js
  commitlint.config.mjs
Due: none

feat: ignore .vitepress/cache from eslint
  packages/docs/eslint.config.mjs
Due: lint-staged:docs

feat: ignore .vitepress/cache from eslint (#231)
  packages/docs/eslint.config.mjs
Due: lint-staged:docs

feat: add GTM and GA4 tags
  packages/docs/.vitepress/config.mts
  packages/docs/.vitepress/theme/components/VCLayout.vue
Due: lint-staged:docs

feat: add GTM and GA4 tags (#232)
  packages/docs/.vitepress/config.mts
  packages/docs/.vitepress/theme/components/VCLayout.vue
Due: lint-staged:docs

Revert "feat: add GTM and GA4 tags (#232)"
  packages/docs/.vitepress/config.mts
  packages/docs/.vitepress/theme/components/VCLayout.vue
Due: lint-staged:docs

Revert "feat: add GTM and GA4 tags (#232)" (#233)
  packages/docs/.vitepress/config.mts
  packages/docs/.vitepress/theme/components/VCLayout.vue
Due: lint-staged:docs

chore: release v4.1.1
  lerna.json
  packages/docs/package.json
  packages/v-confirm/package.json
Due: none

test: fix description of test code pointed out by GitHub Copilot
  packages/v-confirm/src/components/MdiIcon/__tests__/MdiIcon.spec.tsx
  packages/v-confirm/src/components/VConfirm/__tests__/VConfirm.spec.tsx
  packages/v-confirm/src/components/VConfirm/__tests__/VConfirmActions.spec.tsx
  packages/v-confirm/src/components/VConfirm/__tests__/VConfirmHeader.spec.tsx
  packages/v-confirm/src/directives/click-outside/__tests__/clickOutside.spec.ts
  packages/v-confirm/src/utils/__tests__/colorUtil.spec.ts
  packages/v-confirm/src/utils/__tests__/helper.spec.ts
Due: lint-staged:v-confirm

test: fix description of test code pointed out by GitHub Copilot (#240)
  packages/v-confirm/src/components/MdiIcon/__tests__/MdiIcon.spec.tsx
  packages/v-confirm/src/components/VConfirm/__tests__/VConfirm.spec.tsx
  packages/v-confirm/src/components/VConfirm/__tests__/VConfirmActions.spec.tsx
  packages/v-confirm/src/components/VConfirm/__tests__/VConfirmHeader.spec.tsx
  packages/v-confirm/src/directives/click-outside/__tests__/clickOutside.spec.ts
  packages/v-confirm/src/utils/__tests__/colorUtil.spec.ts
  packages/v-confirm/src/utils/__tests__/helper.spec.ts
Due: lint-staged:v-confirm

build: update lint-staged to `^15.2.11`
  package.json
  yarn.lock
Due: none

build: update lint-staged to `^15.2.11` (#241)
  package.json
  yarn.lock
Due: none

chore: release v.4.1.2
  lerna.json
  packages/docs/package.json
  packages/v-confirm/package.json
Due: none

fix: fix lint-staged triggers and eslint target extensions
  packages/docs/.lintstagedrc
  packages/docs/package.json
  packages/v-confirm/.lintstagedrc
  packages/v-confirm/package.json
Due: none

fix: fix lint-staged triggers and eslint target extensions (#243)
  packages/docs/.lintstagedrc
  packages/docs/package.json
  packages/v-confirm/.lintstagedrc
  packages/v-confirm/package.json
Due: none

chore: add setting to ignore dist and lib from the eslint target of `v-confirm`
  packages/v-confirm/eslint.config.mjs
  packages/v-confirm/package.json
Due: lint-staged:v-confirm

chore: add setting to ignore dist and lib from the eslint target of `v-confirm` (#244)
  packages/v-confirm/eslint.config.mjs
  packages/v-confirm/package.json
Due: lint-staged:v-confirm
