Repository gn5r/vue-confirm: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged:v-confirm, lint-staged:docs, lint-staged:api-generator

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#
commit-msg:
  commands:
    commit-lint:
      run: yarn commitlint --edit "$1"

pre-commit:
  parallel: true
  commands:
    "lint-staged:v-confirm":
      root: packages/v-confirm
      glob: "**/*.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue}"
      run: yarn run lint && yarn run lint:fix && git add {staged_files}
    "lint-staged:docs":
      root: packages/docs
      glob: "**/*.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue}"
      run: yarn run lint && yarn run lint:fix && git add {staged_files}
    "lint-staged:api-generator":
      root: packages/api-generator
      glob: "**/*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}"
      run: yarn run lint && yarn run lint:fix && git add {staged_files}

chore(deps): bump vitepress from 1.0.1 to 1.6.4 (#275)
  packages/docs/package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump shiki and @shikijs/transformers from 1.2.1 to 2.5.0
  packages/docs/.vitepress/theme/composables/shikiji.ts
  packages/docs/package.json
  pnpm-lock.yaml
Due: lint-staged:docs

chore(deps): bump shiki and @shikijs/transformers from 1.2.1 to 2.5.0 (#276)
  packages/docs/.vitepress/theme/composables/shikiji.ts
  packages/docs/package.json
  pnpm-lock.yaml
Due: lint-staged:docs

chore(deps): bump vitest from 3.2.2 to 4.0.18
  packages/v-confirm/package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump vitest from 3.2.2 to 4.0.18 (#277)
  packages/v-confirm/package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump @vue/babel-plugin-jsx from 1.2.2 to 2.0.1
  packages/v-confirm/package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump @babel/cli from 7.24.1 to 7.28.6
  packages/v-confirm/package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump @babel/cli from 7.24.1 to 7.28.6 (#279)
  packages/v-confirm/package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump @babel/core from 7.24.3 to 7.29.0
  packages/v-confirm/package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump @babel/core from 7.24.3 to 7.29.0 (#280)
  packages/v-confirm/package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump @babel/preset-env from 7.24.3 to 7.29.0
  packages/v-confirm/package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump @babel/preset-env from 7.24.3 to 7.29.0 (#281)
  packages/v-confirm/package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump @babel/preset-typescript from 7.24.1 to 7.28.5
  packages/v-confirm/package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump @babel/preset-typescript from 7.24.1 to 7.28.5 (#282)
  packages/v-confirm/package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump @babel/plugin-syntax-import-assertions from 7.24.1 to 7.28.6
  packages/v-confirm/package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump @babel/plugin-syntax-import-assertions from 7.24.1 to 7.28.6 (#283)
  packages/v-confirm/package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump @babel/eslint-parser from 7.24.5 to 7.28.6
  packages/v-confirm/package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump @babel/eslint-parser from 7.24.5 to 7.28.6 (#284)
  packages/v-confirm/package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump @vue/babel-plugin-jsx from 1.2.2 to 2.0.1 (#285)
  packages/v-confirm/package.json
  pnpm-lock.yaml
Due: none

refactor: move @vitejs/plugin-vue and @vitejs/plugin-vue-jsx to v-confirm package
  package.json
  packages/v-confirm/package.json
  packages/v-confirm/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

refactor: move @vitejs/plugin-vue and @vitejs/plugin-vue-jsx to v-confirm package (#286)
  package.json
  packages/v-confirm/package.json
  packages/v-confirm/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

refactor: update theme handling in VCLayout component
  packages/docs/.vitepress/theme/components/VCLayout.vue
Due: lint-staged:docs

refactor: update theme handling in VCLayout component (#287)
  packages/docs/.vitepress/theme/components/VCLayout.vue
Due: lint-staged:docs

chore: release v4.1.4
  package.json
  packages/docs/package.json
  packages/v-confirm/package.json
Due: none

fix: fix publish script
  .github/workflows/release.yml
  scripts/parse-dist-tag.js
  scripts/release.sh
Due: none

fix: fix publish script (#288)
  .github/workflows/release.yml
  scripts/parse-dist-tag.js
  scripts/release.sh
Due: none

fix: add --no-git-checks to pnpm publish command in release script
  scripts/release.sh
Due: none

fix: remove NODE_AUTH_TOKEN from npm publish step in release workflow
  .github/workflows/release.yml
Due: none

fix: add --no-git-checks to pnpm publish command in release script (#289)
  .github/workflows/release.yml
  scripts/release.sh
Due: none

chore(deps): bump eslint from 9.1.0 to 10.0.2
  .vscode/settings.json
  eslint.config.mjs
  package.json
  packages/docs/eslint.config.mjs
  packages/v-confirm/eslint.config.mjs
  packages/v-confirm/package.json
  packages/v-confirm/postcss.config.mjs
  packages/v-confirm/src/directives/click-outside/index.ts
  packages/v-confirm/types/index.d.ts
  pnpm-lock.yaml
Due: lint-staged:v-confirm, lint-staged:docs

fix: update postcss.config.mjs to use ES module syntax
  packages/v-confirm/postcss.config.mjs
Due: lint-staged:v-confirm

chore(deps): bump eslint from 9.1.0 to 10.0.2 (#290)
  .vscode/settings.json
  eslint.config.mjs
  package.json
  packages/docs/eslint.config.mjs
  packages/v-confirm/eslint.config.mjs
  packages/v-confirm/package.json
  packages/v-confirm/postcss.config.js
  packages/v-confirm/postcss.config.mjs
  packages/v-confirm/src/directives/click-outside/index.ts
  packages/v-confirm/types/index.d.ts
  pnpm-lock.yaml
Due: lint-staged:v-confirm, lint-staged:docs

chore: replace deprecated rollup-plugin-terser with @rollup/plugin-terser
  packages/v-confirm/package.json
  packages/v-confirm/rollup.config.mjs
  pnpm-lock.yaml
Due: lint-staged:v-confirm

chore: update copyright year in rollup configuration
  packages/v-confirm/rollup.config.mjs
Due: lint-staged:v-confirm

chore: replace deprecated rollup-plugin-terser with @rollup/plugin-terser (#292)
  packages/v-confirm/package.json
  packages/v-confirm/rollup.config.mjs
  pnpm-lock.yaml
Due: lint-staged:v-confirm

chore: remove npm whoami command from release script
  scripts/release.sh
Due: none

chore: remove npm whoami command from release script (#295)
  scripts/release.sh
Due: none

chore: upgrade setup-node action to v4 and add registry-url for npm
  .github/workflows/release.yml
Due: none

chore: add --provenance flag to pnpm publish command in release script
  scripts/release.sh
Due: none
