Repository gn5r/vue-confirm: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged:v-confirm, lint-staged:docs, lint-staged:api-generator

lint-staged:v-confirm:
  run: yarn run lint && yarn run lint:fix && git add {staged_files}

lint-staged:docs:
  run: yarn run lint && yarn run lint:fix && git add {staged_files}

lint-staged:api-generator:
  run: yarn run lint && yarn run lint:fix && git add {staged_files}

chore: fix vite.config file extension
  packages/v-confirm/vitest.config.mts
Due: lint-staged:v-confirm

chore: update dependencies releated to vite and vite
  package.json
  packages/v-confirm/package.json
  yarn.lock
Due: none

chore: rename vite config files to mts
  packages/v-confirm/vite.config.mts
  packages/v-confirm/vite.dev.config.mts
  packages/v-confirm/vitest.config.mts
Due: lint-staged:v-confirm

test: update snapshots and drop `console.debug`
  packages/v-confirm/src/components/Divider/__tests__/__snapshots__/Divider.spec.tsx.snap
  packages/v-confirm/src/components/MdiIcon/__tests__/__snapshots__/MdiIcon.spec.tsx.snap
  packages/v-confirm/src/components/VConfirm/__tests__/VConfirm.spec.tsx
  packages/v-confirm/src/components/VConfirm/__tests__/__snapshots__/VConfirm.spec.tsx.snap
  packages/v-confirm/src/components/VConfirm/__tests__/__snapshots__/VConfirmActions.spec.tsx.snap
  packages/v-confirm/src/components/VConfirm/__tests__/__snapshots__/VConfirmHeader.spec.tsx.snap
  packages/v-confirm/src/directives/click-outside/__tests__/clickOutside.spec.ts
Due: lint-staged:v-confirm

chore: update dependencies releated to vite and vite (#199)
  package.json
  packages/v-confirm/package.json
  packages/v-confirm/src/components/Divider/__tests__/__snapshots__/Divider.spec.tsx.snap
  packages/v-confirm/src/components/MdiIcon/__tests__/__snapshots__/MdiIcon.spec.tsx.snap
  packages/v-confirm/src/components/VConfirm/__tests__/VConfirm.spec.tsx
  packages/v-confirm/src/components/VConfirm/__tests__/__snapshots__/VConfirm.spec.tsx.snap
  packages/v-confirm/src/components/VConfirm/__tests__/__snapshots__/VConfirmActions.spec.tsx.snap
  packages/v-confirm/src/components/VConfirm/__tests__/__snapshots__/VConfirmHeader.spec.tsx.snap
  packages/v-confirm/src/directives/click-outside/__tests__/clickOutside.spec.ts
  packages/v-confirm/vite.config.mts
  packages/v-confirm/vite.dev.config.mts
  packages/v-confirm/vitest.config.mts
  yarn.lock
Due: lint-staged:v-confirm

chore: update vue and @vue/test-utils
  package.json
  packages/v-confirm/package.json
  yarn.lock
Due: none

test: refactoring with @vue/test-utils update
  packages/v-confirm/src/components/VConfirm/__tests__/VConfirm.spec.tsx
Due: lint-staged:v-confirm

chore: update vue and @vue/test-utils (#200)
  package.json
  packages/v-confirm/package.json
  packages/v-confirm/src/components/VConfirm/__tests__/VConfirm.spec.tsx
  yarn.lock
Due: lint-staged:v-confirm

chore: update dependencies and other dependencies related to babel and eslint
  package.json
  packages/v-confirm/package.json
  yarn.lock
Due: none

chore: update dependencies and other dependencies related to babel and eslint (#201)
  package.json
  packages/v-confirm/package.json
  yarn.lock
Due: none

chore: update vitepress,vuetify,vue-i18n
  .vscode/extensions.json
  package.json
  packages/docs/.vitepress/config.mts
  packages/docs/.vitepress/theme/composables/shikiji.ts
  packages/docs/.vitepress/theme/index.ts
  packages/docs/package.json
  yarn.lock
Due: lint-staged:docs

feat: rename divider class name to `v-confirm__divider`
  packages/v-confirm/src/components/Divider/Divider.scss
  packages/v-confirm/src/components/Divider/Divider.tsx
  packages/v-confirm/src/components/Divider/__tests__/__snapshots__/Divider.spec.tsx.snap
  packages/v-confirm/src/components/VConfirm/__tests__/VConfirm.spec.tsx
Due: lint-staged:v-confirm

fix: fix dev script args of v-confirm
  packages/v-confirm/package.json
Due: none

chore: update dependencies related to eslint-plugin
  package.json
  yarn.lock
Due: none

fix: fix dev script args of v-confirm (#204)
  packages/v-confirm/package.json
Due: none

chore: update dependencies related to eslint-plugin (#202)
  package.json
  yarn.lock
Due: none

chore: update vitepress,vuetify,vue-i18n (#203)
  .vscode/extensions.json
  package.json
  packages/docs/.vitepress/config.mts
  packages/docs/.vitepress/theme/composables/shikiji.ts
  packages/docs/.vitepress/theme/index.ts
  packages/docs/package.json
  yarn.lock
Due: lint-staged:docs

feat: rename divider class name to `v-confirm__divider` (#205)
  packages/v-confirm/src/components/Divider/Divider.scss
  packages/v-confirm/src/components/Divider/Divider.tsx
  packages/v-confirm/src/components/Divider/__tests__/__snapshots__/Divider.spec.tsx.snap
  packages/v-confirm/src/components/VConfirm/__tests__/VConfirm.spec.tsx
Due: lint-staged:v-confirm

refactor: change bundler to rollup
  packages/v-confirm/package.json
  packages/v-confirm/rollup.config.mjs
  packages/v-confirm/tsconfig.json
  yarn.lock
Due: lint-staged:v-confirm

refactor: change bundler to rollup (#207)
  packages/v-confirm/package.json
  packages/v-confirm/rollup.config.mjs
  packages/v-confirm/tsconfig.json
  yarn.lock
Due: lint-staged:v-confirm

chore: release v4.1.0-beta.0
  lerna.json
  packages/docs/package.json
  packages/v-confirm/package.json
Due: none

fix: fix peerDependencies to `vue>=3.3`
  packages/v-confirm/package.json
Due: none

chore: add stable to the dist-tas to parse
  scripts/parse-dist-tag.js
Due: none

chore: update dependencies
  package.json
  packages/api-generator/package.json
  packages/docs/package.json
  packages/v-confirm/package.json
  yarn.lock
Due: none

test: update snapshots
  packages/v-confirm/src/components/Divider/__tests__/__snapshots__/Divider.spec.tsx.snap
  packages/v-confirm/src/components/MdiIcon/__tests__/__snapshots__/MdiIcon.spec.tsx.snap
  packages/v-confirm/src/components/VConfirm/__tests__/__snapshots__/VConfirm.spec.tsx.snap
  packages/v-confirm/src/components/VConfirm/__tests__/__snapshots__/VConfirmActions.spec.tsx.snap
  packages/v-confirm/src/components/VConfirm/__tests__/__snapshots__/VConfirmHeader.spec.tsx.snap
Due: none

chore: add stable to the dist-tas to parse (#208)
  scripts/parse-dist-tag.js
Due: none

chore: add stable to the dist-tas to parse (#209)
  scripts/parse-dist-tag.js
Due: none

fix: fix peerDependencies to `vue>=3.3` (#210)
  packages/v-confirm/package.json
Due: none

chore: update year
  README.md
Due: none

chore: 年を更新
  README-ja.md
Due: none

chore: update year (#212)
  README-ja.md
  README.md
Due: none

chore: migration ESLint to `v9.x`
  .eslintrc.cjs
  .vscode/settings.json
  eslint.config.mjs
  package.json
  packages/docs/.eslintrc.cjs
  packages/docs/eslint.config.mjs
  packages/docs/package.json
  packages/v-confirm/package.json
  yarn.lock
Due: lint-staged:docs

chore: migration ESLint to `v9.x` (#213)
  .eslintrc.cjs
  .vscode/settings.json
  eslint.config.mjs
  package.json
  packages/docs/.eslintrc.cjs
  packages/docs/eslint.config.mjs
  packages/docs/package.json
  packages/v-confirm/package.json
  yarn.lock
Due: lint-staged:docs

chore: release v4.1.0
  lerna.json
  packages/docs/package.json
  packages/v-confirm/package.json
Due: none

fix: fix eslint config
  .vscode/settings.json
  eslint.config.mjs
  packages/docs/eslint.config.mjs
  packages/v-confirm/tsconfig.json
Due: lint-staged:docs

fix: fix eslint config (#214)
  .vscode/settings.json
  eslint.config.mjs
  packages/docs/eslint.config.mjs
  packages/v-confirm/tsconfig.json
Due: lint-staged:docs

chore: update vue to `3.4.25` and @vue/test-utils to `2.4.5`
  package.json
  packages/v-confirm/package.json
  yarn.lock
Due: none

chore: update vue to `3.4.25` and @vue/test-utils to `2.4.5` (#215)
  package.json
  packages/v-confirm/package.json
  yarn.lock
Due: none

chore: update vite to `5.0.4`
  package.json
  yarn.lock
Due: none

chore: update vite to `5.0.4` (#216)
  package.json
  yarn.lock
Due: none

Path conditions:
  lint-staged:v-confirm: any of: **/*.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue} and ^packages/v\-confirm/
  lint-staged:docs: any of: **/*.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue} and ^packages/docs/
  lint-staged:api-generator: any of: **/*.{js,jsx,cjs,mjs,ts,tsx,cts,mts} and ^packages/api\-generator/
