Repository gn5r/vue-confirm: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged:v-confirm, lint-staged:docs, lint-staged:api-generator

lint-staged:v-confirm:
  run: yarn run lint && yarn run lint:fix && git add {staged_files}

lint-staged:docs:
  run: yarn run lint && yarn run lint:fix && git add {staged_files}

lint-staged:api-generator:
  run: yarn run lint && yarn run lint:fix && git add {staged_files}

chore: reorder exports in package.json for consistency
  packages/v-confirm/package.json
Due: none

chore: reorder exports in package.json for consistency (#345)
  packages/v-confirm/package.json
Due: none

chore: release v4.1.6
  package.json
  packages/docs/package.json
  packages/v-confirm/package.json
Due: none

chore: allow builds for '@parcel/watcher'
  pnpm-workspace.yaml
Due: none

chore: allow builds for '@parcel/watcher' (#356)
  pnpm-workspace.yaml
Due: none

fix: improve click-outside directive to manage event listeners correctly
  packages/v-confirm/src/directives/click-outside/__tests__/clickOutside.spec.ts
  packages/v-confirm/src/directives/click-outside/index.ts
Due: lint-staged:v-confirm

fix: improve click-outside directive to manage event listeners correctly (#357)
  packages/v-confirm/src/directives/click-outside/__tests__/clickOutside.spec.ts
  packages/v-confirm/src/directives/click-outside/index.ts
Due: lint-staged:v-confirm

fix: export ClickOutsideElement interface for external usage
  packages/v-confirm/src/directives/click-outside/index.ts
Due: lint-staged:v-confirm

fix: update map-get to map.get for consistency in SCSS files
  packages/v-confirm/src/components/Divider/Divider.scss
  packages/v-confirm/src/components/MdiIcon/MdiIcon.scss
  packages/v-confirm/src/components/VConfirm/VConfirm.scss
Due: none

fix: export ClickOutsideElement interface for external usage (#358)
  packages/v-confirm/src/directives/click-outside/index.ts
Due: lint-staged:v-confirm

fix: update map-get to map.get for consistency in SCSS files (#359)
  packages/v-confirm/src/components/Divider/Divider.scss
  packages/v-confirm/src/components/MdiIcon/MdiIcon.scss
  packages/v-confirm/src/components/VConfirm/VConfirm.scss
Due: none

fix: update map-get to map.get for consistency in SCSS files
  packages/docs/.vitepress/theme/styles/style.scss
Due: none

feat: add env.d.ts for Vite client type definitions
  packages/docs/env.d.ts
  packages/docs/tsconfig.json
Due: lint-staged:docs

fix: remove unused defineProps import in multiple API table components
  packages/docs/.vitepress/theme/components/api/EventsTable.vue
  packages/docs/.vitepress/theme/components/api/PropsTable.vue
  packages/docs/.vitepress/theme/components/api/SassTable.vue
  packages/docs/.vitepress/theme/components/api/SlotsTable.vue
Due: lint-staged:docs

fix: update vue version to 3.5.33 in package.json and pnpm-lock.yaml
  packages/docs/package.json
  pnpm-lock.yaml
Due: none

fix: update type import for enhanceApp context in theme index
  packages/docs/.vitepress/theme/index.ts
Due: lint-staged:docs

docs: update VitePress theme configuration and fix type errors (#360)
  packages/docs/.vitepress/theme/components/api/EventsTable.vue
  packages/docs/.vitepress/theme/components/api/PropsTable.vue
  packages/docs/.vitepress/theme/components/api/SassTable.vue
  packages/docs/.vitepress/theme/components/api/SlotsTable.vue
  packages/docs/.vitepress/theme/index.ts
  packages/docs/.vitepress/theme/styles/style.scss
  packages/docs/env.d.ts
  packages/docs/package.json
  packages/docs/tsconfig.json
  pnpm-lock.yaml
Due: lint-staged:docs

chore(tests): update snapshots to reflect style changes in MdiIcon and VConfirm components
  packages/v-confirm/src/components/MdiIcon/__tests__/__snapshots__/MdiIcon.spec.tsx.snap
  packages/v-confirm/src/components/VConfirm/__tests__/__snapshots__/VConfirm.spec.tsx.snap
  packages/v-confirm/src/components/VConfirm/__tests__/__snapshots__/VConfirmHeader.spec.tsx.snap
Due: none

test(VConfirmActions): update button style assertion for caret color
  packages/v-confirm/src/components/VConfirm/__tests__/VConfirmActions.spec.tsx
  packages/v-confirm/types/index.d.ts
Due: lint-staged:v-confirm

Path conditions:
  lint-staged:v-confirm: any of: **/*.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue} and ^packages/v\-confirm/
  lint-staged:docs: any of: **/*.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue} and ^packages/docs/
  lint-staged:api-generator: any of: **/*.{js,jsx,cjs,mjs,ts,tsx,cts,mts} and ^packages/api\-generator/
